body {font-family: Arial, Helvetica, sans-serif;}
body{
    background-color: #6A62D2;
}
.container{
margin: auto;
width: 300px;
height: 360px;
padding: 10px;
margin-top: 150px;
}

.box{
    background-color:white;
    position: absolute;
    width: 300px ;
    height: 310px;;
    border: 15px;
    border-radius:6px;
    padding: 40px;
}

h3{
    margin-top: -10px;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E5E8ED;
    box-sizing: border-box;
    background-color:#E5E8ED;
    height: 15%;
    color: #8C96B4;
    
  }
  
  .check{
    font-size: 10px;
}
  
  button {
    background-color: #6A62D2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 15%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  h6{
      text-align: center;
      color:#8C96B4;
      margin-top: 40px;
    }
